#box_find_duplicated_patients__results{
  table{
    tbody + thead{
      >tr:first-child{
        >th{
          padding-top: 32px;
          border-top: none;
          border-bottom: none;
        }
      }
    }
  }
}