.dropdown-menu {
  background-color: #4461B7;

  .divider {
    background-color: #fff;
  }

  li {
    &.disabled a {
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    a {
      &:hover {
        background-color: #4C6CC6;
      }
    }
  }
}

.datepicker-dropdown.dropdown-menu {
  color: #fff;

  .datepicker-switch:hover, .prev:hover, .next:hover, tfoot tr th:hover {
    background-color: #4C6CC6;
  }

  table tr td.day:hover, table tr td.focused {
    background-color: #4C6CC6;
  }

  table tr td.old, table tr td.new {
    color: #999 !important;
  }

  table tr td, table tr th {
    width: 40px;
    height: 40px;
  }
}