$navbar-background-color: $mndr_blue;

$button-normal: #D7D7D7;
$button-primary: #557CD6;
$button-primary-hover: lighten($button-primary, 10%);
$button-font-color-dark: #8A8A8A;

$panel-primary: #4C6CC6;

$pagination-background-color-active: #1C6FC2;