<div class="visible-sm visible-md visible-lg">
	<div class="cal-week-box">
		<div class="cal-row-fluid cal-row-head">
			<div class="cal-cell1">&nbsp;</div>

			<% _.each(days_name, function(name) { %>
				<div class="cal-cell1 <%= cal._getDayClass('week', start) %>" data-toggle="tooltip" title="<%= cal._getHolidayName(start) %>"><%= name %><br>
					<small><span data-cal-date="<%= start.getFullYear() %>-<%= start.getMonthFormatted() %>-<%= start.getDateFormatted() %>" data-cal-view="day"><%= start.getDate() %> <%= cal.locale['ms' + start.getMonth()] %></span></small>
				</div>
				<% start.setDate(start.getDate() + 1); %>
			<% }) %>
		</div>

		<div id="cal-day-panel" class="clearfix">
			<div id="cal-day-panel-hour">
				<% for(i = 0; i < hours; i++){ %>
					<div class="cal-day-hour">
						<% for(l = 0; l < cal._hour_min(i); l++){ %>
							<div class="row-fluid cal-day-hour-part">
								<div class="span1 col-xs-1">
									<b><%= cal._hour(i, l) %></b>
								</div>
							</div>
						<% }; %>
					</div>
				<% }; %>
			</div>

			<%= cal._week() %>
		</div>

		<div class="clearfix"></div>
	</div>

	<div class="clearfix"></div>
</div>

<div class="visible-xs">
	<div class="text-danger">
		Week view is not supported on mobile.
	</div>
</div>